* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

nav,
.footer {
	background-color: #142331;
	padding: 15px;
	color: white;
}

a {
	text-decoration: none;
}

img {
	width: 150px;
	margin: 20px;
	padding: 10px 30px;
	border-radius: 30px;
	border: solid 1px grey;
	box-shadow: 5px 5px 10px grey;
}

.main,
.footer {
	padding: 25px;
}

#logo {
	display: inline;
}

a {
	padding: 20px;
	color: white;
}

.main h2 {
	color: #6a829c;
	font-weight: 100;
	margin: 15px 0;
}

p {
	font-size: large;
	color: #909090;
	margin: 15px 0;
}

b {
	color: #4d5862;
}

.footer h2,
ul li {
	font-size: larger;
	font-weight: 700;
}

ul li {
	list-style-type: none;
}

ul li ul li {
	font-size: large;
	padding-left: 20px;
}

button {
	border: solid 2px #bba447;
	font-size: larger;
	color: #bba447;
	background-color: white;
	padding: 20px;
	border-radius: 30px;
	font-weight: 700;
}

.testimonial,
.card {
	border: dashed 2px black;
	margin: 15px;
	padding: 15px;
}

button:hover {
	background-color: #bba447;
	color: white;
}

.card {
    background-color: whitesmoke;
}

.card p {
    display: none;
}

.card:hover p {
    display: inline;
}

.author {
	text-align: right;
}